body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #F8F0EE !important;

}
.container{
    position: relative;

}
.navbar-brand{
    color: #F8F0EE !important;

}
.navbar-brand:hover{
    color: #53D0EC !important;
}
.heading1, .para1{
    color: #F8F0EE;
    font-size: 3.6rem;
    letter-spacing: 8px;
    display: grid;
    place-content: center;
    min-height:55vh;
    animation: heading1  1.5s;

    /* position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-30%, 15rem); */
}
.heading2{
    margin-top: 19rem;
    font-size: 4rem;
    letter-spacing: 8px;
    word-spacing: 4px;
    display: grid;
    place-content: center;
    background-image: linear-gradient(to right, #2748A0, #53D0EC);
    -webkit-background-clip: text;
    color: transparent;
}
@keyframes heading1{
    0%{
        margin-left: -600px;
        opacity: 0; 

    }
    70%{
        margin-left: 2rem;

    }
    100%{
        margin-left: 0px;
        opacity: 1; 
    }
}


.para1{
    font-size: 1.5rem;
    margin-top: -435px;
    animation: para1  2s;

}
@keyframes para1{
    0%{
        margin-left: -600px;
        opacity: 0; 

    }
    70%{
        margin-left: 2rem;

    }
    100%{
        margin-left: 0px;
        opacity: 1; 
    }
}
.ml-custom{
    margin-left: 45%;
}
.btn{
    border-radius: 100px;
    padding: .5rem 1.5rem;
    font-size: 1.3rem;
    margin-top: -400px;
    margin-bottom: 1rem;
    transition:  transform .2s, box-shadow .3s;
    animation: btn  3s;
}

@keyframes btn{
    0%{
        margin-left: -600px;
        opacity: 0; 
    }
    70%{
        margin-left: 47%;
    }
    100%{
        margin-left: 45%;
        opacity: 1; 
    }
}
.btn:hover{
    background-color: rgb(42, 77, 172);
    transform: translateY(-3px);
    box-shadow: 0 1rem 20rem 1rem #2748A0;

}
.btn:active{ 
    transform: translateY(0);

}


.section-shape1{
    height: 94vh;
    background: linear-gradient(to right bottom, rgba(39, 71, 160, 0.767), rgba(34, 205, 267, 0.767), rgba(83, 208, 236, 0.767)), url(../img/bg-img.jpg) no-repeat ;
    
    /* background-color: rgba(83, 208, 236, 0.767); */
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
    position: relative;
}
.section-shape2{
    position: absolute;
    z-index: -2 !important;
    margin-top: -16.5rem !important;
    background: #F8F0EE;
    width: 100%;
    height: 125vh;

}
/* .section-shape2{
    overflow: hidden !important;

}
.img{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -3;
    overflow: hidden !important;

} */
.bg-custom{
    background: #2748A0;
    position:relative;
}


/* 
Dark blue: #2748A0 
light blue: #53D0EC
white: #F8F0EE
Red: #E5386D
*/