*{
  scroll-behavior: smooth;

}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f8f0ee !important;
}
.container {
  position: relative;
}
.navbar-brand {
  color: #f8f0ee !important;
}
.navbar-brand:hover {
  color: #53d0ec !important;
}
.heading1,
.para1 {
  color: #f8f0ee;
  font-size: 4rem;
  letter-spacing: 8px;
  display: grid;
  place-content: center;
  min-height: 55vh;
  animation: heading1 1.5s;
  /* position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-30%, 15rem); */
}

@keyframes heading1 {
  0% {
    /* margin-left: -600px; */
  transform: translateX(-600px);  
  opacity: 0;
  }
  70% {
    /* margin-left: 2rem; */
  transform: translateX(2rem);  
  }
  100% {
    /* margin-left: 0px; */
  transform: translateX(0px);  
  opacity: 1;
  }
}

.para1 {
  font-size: 1.5rem;
  margin-top: -435px;
  animation: para1 2s;
}
@keyframes para1 {
  0% {
    margin-left: -600px;
    opacity: 0;
  }
  70% {
    margin-left: 2rem;
  }
  100% {
    margin-left: 0px;
    opacity: 1;
  }
}
.heading2 {
  margin-top: 19rem;
  font-size: 4rem;
  letter-spacing: 8px;
  word-spacing: 4px;
  display: grid;
  place-content: center;
  background-image: linear-gradient(to right, #2748a0, #53d0ec);
  -webkit-background-clip: text;
  color: transparent;
}
.heading3{
  margin-top: 20rem;
  font-size: 4rem;
  letter-spacing: 8px;
  word-spacing: 4px;
  display: grid;
  place-content: center;
  color: rgb(255, 255, 255);
}
.heading4{
  margin-top: 19rem;
  font-size: 4rem;
  letter-spacing: 8px;
  word-spacing: 4px;
  display: grid;
  place-content: center;
  background-image: linear-gradient(to right, #2748a0, #53d0ec);
  -webkit-background-clip: text;
  color: transparent;
}
.ml-45 {
  margin-left: 45%;
}
/* .w-35{
  width: 35%;
} */
/* .ml-custom {
  margin-left: 32%;
} */
.request-centent{
  margin-top: 10rem;
}
.btn1 {
  border-radius: 100px;
  padding: 0.5rem 1.5rem;
  font-size: 1.3rem;
  margin-top: -400px;
  margin-bottom: 1rem;
  transition: transform 0.2s, box-shadow 0.3s;
  animation: btn 2s;
}
.btn2 {
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
}

@keyframes btn {
  0% {
    margin-left: -600px;
    opacity: 0;
  }
  70% {
    margin-left: 47%;
  }
  100% {
    margin-left: 45%;
    opacity: 1;
  }
}
.btn1:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 35px rgba(39, 71, 160, 0.637);
}
.btn1:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 20px rgba(39, 71, 160, 0.432);
}

.section-shape1 {
  height: 100vh;
  background: linear-gradient(
      to right bottom,
      rgba(39, 71, 160, 0.767), rgba(34, 205, 267, 0.767),rgba(83, 208, 236, 0.767)
    ),
    url(../img/bg-img.jpg) no-repeat;

  /* background-color: rgba(83, 208, 236, 0.767); */
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
  position: relative;
}
.section-shape2 {
  position: absolute;
  z-index: -2 !important;
  margin-top: -11.5rem !important;
  background: #f8f0ee;
  width: 100%;
  height: 240vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);

}
.section-shape3 {
  position: absolute;
  z-index: -3 !important;
  top:295.7% !important;
  background: linear-gradient(
      to right bottom,
      rgba(39, 71, 160, 0.767), rgba(34, 205, 267, 0.767),rgba(83, 208, 236, 0.767)
    ),
    url(../img/request-img.jpg) no-repeat  fixed;
  width: 100%;
  height: 100vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
}
.section-shape4 {
  position: absolute;
  top: 380% !important;
  z-index: -4 !important;
  margin-top: -8rem !important;
  background: #f8f0ee;
  width: 100%;
  height: 128vh;

}
.card {
  max-width: 100%;
  height: 105%;
  box-shadow: 0 10px 25px rgba(80, 80, 80, 0.29);
  overflow: hidden;
}
.card-img-top:hover {
  transform: scale(1.1) !important;
  transition: transform 0.4s !important;
}
.card-body {
  margin: 1rem 1rem -1.5rem 1rem !important;
}

/*.img{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -3;
    overflow: hidden !important;

} */
.nav-bg-custom {
  background: #2748a0;
  position: relative;
}
.pointer {
  cursor: pointer !important;
  color: #fff !important;
}
.form-control{
  border-radius: 5px !important;
}
.back-to-top{
  /* width:80px;
  height:80px;
  background: linear-gradient(
    to right bottom,
    rgba(39, 71, 160, 0.767), rgba(34, 205, 267, 0.767),rgba(83, 208, 236, 0.767)
  );
  border-radius: 50%; */
  position: fixed;
  top: 85%;
  left: 93%;
  padding-top: .56rem;
  padding-left: 1.4rem;
  font-size: 2.5rem;
  cursor: pointer;
}
.back-to-top a:link,
.back-to-top a:visited{
  background-image: linear-gradient(to right, #2748a0, #53d0ec);
  -webkit-background-clip: text;
  color: transparent;
  text-decoration: none;
}
/* 
Dark blue: #2748A0 
light blue: #53D0EC
white: #F8F0EE
Red: #E5386D
*/
